.tooltip{
  background: black;
  color: lightpink;
  width: 200px;
  border-radius: 12px;
  position: absolute;
  padding:20px;
}
.data{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

